.header-container {
  background-color: #3367d6;
  height: 12vh;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.logo {
  height: 30px;
  width: 120px;
  margin: 5px 0 0 50px;
}
.input-container {
  background-color: #2850a7;
  height: 45px;
  width: 400px;
  display: flex;
  border: 2px solid #6697ff;
  border-radius: 10px;
  margin: 0 200px 15px 0;
}
.search-icon {
  height: 30px;
  width: 30px;
  margin: 5px 0 0 20px;
}
.search-input {
  background-color: transparent;
  color: #475569;
  font-size: 20px;
  margin-left: 20px;
}
.app-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 #bfbfbf;
}
.error {
  color: #64748b;
  font-size: 25px;
  text-align: center;
}
